
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}


#pRecuperar {
    color: #F05F40;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


strong {
    text-shadow: 2px 2px #477187;
}

.bg-primary {
  background-color: #032436 !important;
}


.text-faded {
    color: #fff;
    text-shadow: 0.5px 0.5px #477187;
    font-size: 1.2rem;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}





header.masthead {
  padding-top: 0;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../Imagenes/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100vh;
    min-height: 650px;    
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 4rem;
}

header.masthead p {
  font-weight: 300;
}


.cajaLanding {
    border-radius: 43px 43px 43px 43px;
-moz-border-radius: 43px 43px 43px 43px;
-webkit-border-radius: 43px 43px 43px 43px;
    background-color: rgba(3, 36, 54, 0.5);
    padding: 2rem;
}





.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #28784D;
  border-color: #28784D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #4B966E !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #4B966E !important;
}





@media(max-width:460px){
    strong {
        font-size: 2rem;
    }
    
}
    




